# Homework 01 - Intro

In [76]:
import pandas as pd
import numpy as np
import requests

In [47]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv'
df = pd.read_csv(url)

In [48]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

# Q1. Pandas version
What's the version of Pandas that you installed?

In [49]:
print(f'The version of pandas is {pd.__version__}')

The version of pandas is 2.2.2

# Q2. Records count
How many records are in the dataset?

In [50]:
print(f'There are {df.shape[0]} records in this dataset')

There are 2160 records in this dataset

# Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [51]:
print(f'There are {df["Brand"].nunique()} brands in this dataset')

There are 27 brands in this dataset

# Q4. Missing values
How many columns in the dataset have missing values?

In [52]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

- Storage type,
- GPU,
- Screen.

In [53]:
print(f'There are {df.isna().sum()[df.isna().sum() > 0].count()} columns with missing values')

There are 3 columns with missing values

# Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [63]:
print(f'The maximum final price of Dell notebooks is {df[df["Brand"] == "Dell"]["Final Price"].max()}')

The maximum final price of Dell notebooks is 3936.0

# Q6. Median value of Screen

1. Find the median value of Screen column in the dataset.
2. Next, calculate the most frequent value of the same Screen column.
3. Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
4. Now, calculate the median value of Screen once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

Yes

No

In [55]:
# find the median value of Screen column in the dataset
df['Screen'].median()

15.6

In [56]:
# calculate the most frequent value of the same Screen column
df['Screen'].mode()[0]

15.6

In [57]:
df['Screen'].isna().sum()

4

In [58]:
# use fillna method to fill the missing values in Screen column with the most frequent value from the previous step
df['Screen'] = df['Screen'].fillna(df['Screen'].mode()[0])

In [59]:
df['Screen'].isna().sum()

0

In [60]:
df['Screen'].median()

15.6

Has it changed?

No

# Q7. Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?

In [71]:
# select all the "Injoo" laptops from the dataset
df1 = df[df['Brand'] == 'Innjoo']

In [74]:
# select only columns RAM, Storage, Screen
df1 = df1[['RAM', 'Storage', 'Screen']]

In [77]:
# get the underlying NumPy array. Let's call it X
X = df1.to_numpy()

In [79]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [78]:
# compute matrix-matrix multiplication between the transpose of X and X
# to get the transpose, use X.T 
# let's call it XTX

XTX = X.T.dot(X)

In [80]:
# compute the inverse of XTX

invXTX = np.linalg.inv(XTX)

In [81]:
# create an array y with values [1100, 1300, 800, 900, 1000, 1100]

y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [82]:
# multiply the inverse of XTX with the transpose of X, and then multiply the result by y
# call the result w

w = invXTX.dot(X.T).dot(y)

In [83]:
# what's the sum of all the elements of the result?

w.sum()

91.29988062995496

In [87]:
print(f'The sum of all the elements of the result is {w.sum().round(2)}')

The sum of all the elements of the result is 91.3